<a href="https://colab.research.google.com/github/its-kanii/SQL-DML-COMMANDS/blob/main/dml_commands_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1Ô∏è‚É£ SQL DML Commands with Queries

# üîπ INSERT Command
Query:

In [ ]:
%%sql
INSERT INTO table_name (column1, column2, column3)
VALUES (value1, value2, value3);

#üìå Purpose: Adds new records to a table.

#üîπ UPDATE Command
Query:

In [ ]:
%%sql
UPDATE table_name
SET column1 = value1, column2 = value2
WHERE condition;

#üìå Purpose: Modifies existing records in a table.

#üîπ DELETE Command
Query:

In [ ]:
%%sql
DELETE FROM table_name
WHERE condition;

#üìå Purpose: Removes records from a table based on a condition.

#üîπ SELECT Command
Query:

In [ ]:
%%sql
SELECT column1, column2
FROM table_name
WHERE condition;

#üìå Purpose: Retrieves data from a table.

#2Ô∏è‚É£ Real-Time Example: Employee Management System
üè¢ Scenario:
A company manages its employee database and wants to:

‚úÖ Add new employees ‚ú®

‚úÖ Update employee salaries üí∞

‚úÖ Remove employees who left the company üóëÔ∏è

‚úÖ Fetch employee details üìä

#SQL Implementation:
‚úÖ INSERT Employee Records

In [ ]:
%%sql
INSERT INTO Employees (EmpID, Name, Age, Department, Salary)
VALUES (1, 'Alice Johnson', 30, 'HR', 60000),
       (2, 'Bob Smith', 35, 'IT', 80000),
       (3, 'Charlie Brown', 28, 'Finance', 75000);


‚úÖ UPDATE Employee Salary

In [ ]:
%%sql
UPDATE Employees
SET Salary = 85000
WHERE EmpID = 2;

‚úÖ DELETE an Employee

In [ ]:
%%sql
DELETE FROM Employees
WHERE EmpID = 3;

‚úÖ SELECT Employee Details

In [ ]:
%%sql
SELECT * FROM Employees;

#3Ô∏è‚É£ Use Case: Why is this Useful?
üîπ HR Management Systems: Managing employee data efficiently.

üîπ E-Commerce Platforms: Handling customer orders and product inventory.

üîπ Banking Systems: Storing and updating transaction records.

üîπ Healthcare Applications: Keeping patient records up to date.